* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.2s linear;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	background: black;
	height: 100%;
	cursor: crosshair;
	font-family: "Times New Roman", Times, serif;
}

body {
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	text-shadow: 0px 0px 1px rgba(255, 0, 0, 0.5); /* warm huh? */
}

a {
	text-decoration: none;
	cursor: crosshair;
}

#circle {
	position: absolute;
	pointer-events: none;
	background-color: white;
	opacity: 1;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transform-origin: 50% 50%;
	transition: all 0.1s linear;
	mix-blend-mode: difference;
	z-index: 99;
}

@media only screen and (max-width: 459px) {
	#circle {
		display: none;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	max-width: 1000px;
	padding: 20px;
	overflow-x: hidden;
}

.container .header {
	display: flex;
	justify-content: center;
	column-gap: 40px;
	align-items: center;
}

.container .header #ico {
	position: relative;
	width: 160px;
	height: 160px;
}

@media only screen and (max-width: 459px) {
	.container .header {
		flex-direction: column-reverse;
	}
}

.container .header #name {
	color: white;
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 459px) {
	.container .header #name {
		margin-top: 40px;
		flex-direction: row;
		align-items: center;
	}
}

.container .header #name h1,
.container .header #name p,
.container .header #name a {
	transition: all 0.2s linear;
}

.container .header #name a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.container .header #profile {
	perspective: none;
	position: relative;
	width: 210px;
	height: 210px;
	border: 1px solid transparent;
	border-image-source: linear-gradient(
		to right,
		white 10px,
		transparent 10px,
		transparent 200px,
		white 200px
	);
	border-image-slice: 1;
}

.container .header #profile marquee {
	position: absolute;
	width: 180px;
	max-width: 180px;
	color: white;
	left: 14px;
	transform: translateY(197px);
}

.marquee {
	position: absolute;
	left: 14px;
	width: 180px;
	max-width: 180px;
	bottom: -10px;
	overflow: hidden;
	white-space: nowrap;
	display: none;
}

.marquee p {
	display: inline-block;
	padding-left: 100%;
	color: white;
	animation: marquee 40s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

.cube {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: rotateCube 60s ease-in-out infinite;
}

@media only screen and (max-width: 459px) {
	.cube {
		animation: rotateCube 36s ease-in-out infinite;
	}
}

@keyframes rotateCube {
	/* Face 1 - pause */
	0%,
	12.5% {
		transform: rotateX(0deg) rotateY(0deg);
	}

	/* Rotate to Face 3 */
	16.67% {
		transform: rotateX(-90deg) rotateY(0deg);
	}
	/* Face 3 - pause */
	16.67%,
	29.17% {
		transform: rotateX(-90deg) rotateY(0deg);
	}

	/* Rotate to Face 5 */
	33.33% {
		transform: rotateX(-90deg) rotateY(0deg) rotateZ(-90deg);
	}
	/* Face 5 - pause */
	33.33%,
	45.83% {
		transform: rotateX(-90deg) rotateY(0deg) rotateZ(-90deg);
	}

	/* Rotate to Face 6 */
	50% {
		transform: rotateX(-180deg) rotateY(0deg) rotateZ(-90deg);
	}
	/* Face 6 - pause */
	50%,
	62.5% {
		transform: rotateX(-180deg) rotateY(0deg) rotateZ(-90deg);
	}

	/* Rotate to Face 4 */
	66.67% {
		transform: rotateX(-180deg) rotateY(90deg) rotateZ(-90deg);
	}
	/* Face 4 - pause */
	66.67%,
	79.17% {
		transform: rotateX(-180deg) rotateY(90deg) rotateZ(-90deg);
	}

	/* Rotate to Face 2 */
	83.33% {
		transform: rotateX(-180deg) rotateY(90deg) rotateZ(-180deg);
	}
	/* Face 2 - pause */
	83.33%,
	95.83% {
		transform: rotateX(-180deg) rotateY(90deg) rotateZ(-180deg);
	}

	/* Back to Face 1 */
	100% {
		transform: rotateX(-180deg) rotateY(180deg) rotateZ(-180deg);
	}
}

.cube .face {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 188px;
	height: 188px;
	background-size: cover;
	background-position: center center;
}

.front {
	transform: translateZ(94px);
}
.back {
	transform: rotateZ(-90deg) rotateY(180deg) translateZ(94px);
}
.left {
	transform: rotateY(-90deg) translateZ(94px);
}
.right {
	transform: rotateX(90deg) rotateY(90deg) translateZ(94px);
}
.top {
	transform: rotateX(90deg) translateZ(94px);
}
.bottom {
	transform: rotateX(-90deg) rotateZ(-90deg) translateZ(94px);
}

.container .work {
	margin: 100px 0 80px 0;
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-auto-flow: column;
	gap: 60px 10%;
}

@media only screen and (max-width: 768px) {
	.container .work {
		grid-template-columns: 1fr;
		grid-auto-flow: row;
	}

	.work .about,
	.work .clients {
		margin: 0 auto;
		max-width: 400px;
		overflow-x: hidden;
	}

	#text {
		left: 75px;
	}
}

@media only screen and (max-width: 431px) {
	.container .work {
		margin-top: 40px;
	}
}

.work .about,
.work .clients {
	color: #fff;
}

.clients a {
	position: relative;
	display: inline-block;
	z-index: 2;
	color: white;
	padding: 0;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	line-height: 2;
	&:hover {
		animation: typeshift 0.8s steps(1) infinite;
	}
}

@media only screen and (max-width: 431px) {
	.clients a {
		&:hover {
			animation: none;
		}
	}
}

.clients p {
	display: inline-block;
}

@media only screen and (max-width: 370px) {
	#text2-con p {
		display: none;
	}
}

@keyframes typeshift {
	0% {
		font-style: normal;
		font-weight: normal;
	}
	25% {
		font-style: italic;
		font-weight: normal;
	}
	50% {
		font-style: normal;
		font-weight: bold;
	}
	75% {
		font-style: italic;
		font-weight: bold;
	}
	100% {
		font-style: normal;
		font-weight: normal;
	}
}

.work-with-me {
	position: relative;
	display: none;
	margin: 0 auto;
	height: 24px;
	padding: 0 4px;
	margin-bottom: 120px;
	border: 1px solid white;
	color: white;
}

.tooltip {
	visibility: hidden;
	width: 360px;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	bottom: -70px;
	left: -100px;
	z-index: 9;
	display: flex;
	justify-content: flex-start;
	text-align: left;
	align-items: center;
	line-height: 1.25;
	overflow: hidden;
	color: #bfff00;
}

/* .tooltip {
	visibility: hidden;
	width: 210px;
	aspect-ratio: 1 / 1;
	background-image: url("/tooltip.gif"),
		radial-gradient(rgba(0, 0, 0, 0.8) 70%, transparent);
	background-position: center;
	background-repeat: no-repeat;
	padding: 0 28px;
	position: absolute;
	bottom: -210px;
	left: -50px;
	z-index: 9;
	display: flex;
	justify-content: flex-start;
	text-align: left;
	align-items: center;
	line-height: 1.25;
	overflow: hidden;
} */

/* .tooltip:has(img) {
	padding: 0;
	display: block;
	background-image: radial-gradient(rgba(0, 0, 0, 0.5) 70%, transparent);
}

.tooltip img {
	width: 190px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	position: relative;
	top: 12px;
	left: 12px;
	border-radius: 10px;
}

.tooltip img.frame {
	width: 210px;
	aspect-ratio: 1 / 1;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	filter: invert(1);
} */

.client-link-wrapper {
	position: relative;
}

.client-link-wrapper:hover > .tooltip {
	visibility: visible;
}

@media only screen and (max-width: 431px) {
	.client-link-wrapper:hover > .tooltip {
		visibility: hidden;
	}
}

@media only screen and (max-width: 768px) {
	.work-with-me {
		display: block;
	}
}
